{{!-- setup the index.handlebars to have the template that Handlebars can render onto --}}
<div class="container">
    
    <h1 class="titleText">eat Borgus</h1>

  <h2 class="miniHeading">whatchu want?</h2>
  <div class="area">
    <form class="create-form">

        <label for="newburger">Burger name:</label>
            <input type="text" id="newburger">
        <button type="submit" id="newburger">Add Burger</button>

    </form>
  </div>

  <h2 class="miniHeading">dream burgers</h2>
  <div class="area">
    <ul>

      <h3>still gotta eat these ones</h3>
      {{#each burgers}}
        {{#unless devoured}}
            <p class="borgus">>{{burger_name}}
                <button class="devour" data-id="{{id}}" data-devour="{{devoured}}">devour!</button>
        {{/unless}}
        <br>
      {{/each}}</p>

    </ul>

    <h2 class="miniHeading">Burgers devoured</h2>
    
    <h3>yea i ate these already</h3>

    <ul>
      {{#each burgers}}
        <br>
        {{#if devoured}}
            <p class="borgus">>{{burger_name}}
            </p>
            <br>
        {{/if}}
      {{/each}}

    </ul>
  </div>
</div>

